.outerFeedDiv {
    width: 80vw;
    height: fit-content;
    background-color: rgb(69, 40, 0);
    margin: 20px auto 20px auto;
    border: solid goldenrod 1px;
    border-radius: 4px;
    font-family: 'Amatic SC', sans-serif;
}

.sortByTitle {
    margin: 0;
}

.postCard {
    border: antiquewhite solid 4px;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    gap: 10px;
    width: 80%;
    height: 45vh;
}

.feedWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: 17%;
    padding: 10px;
}

.starsWrap {
    width: 8vw;
    background-color: black;
    border-radius: 4px;
    padding: 10px;
}

.stars {
    color: antiquewhite;
    display: flex;
    width: 95%;
    justify-content: space-around;
    font-size: 2.5vw;
}

.starImg {
    width: 2vw;
    height: 2vw;
    align-self: center;
}

.starImg:hover {
    transition: 1s;
    transform: scale(140%);
    border-radius: 20px;
}

.post {
    color: black;
    font-size: 2em;
    text-align: center;
    flex-shrink: 4;
}

.profilePicFeed {
    display: flex;
    background-size: cover;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 12px;
}

.postPicInfo {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 0 auto;
    font-size: 1.5em;
}

.songFeedCard {
    background-image: url('../../../public/Assets/musicNotes.jpg');
    background-size: cover;
    border: black solid 4px;
}

.songInfo {
    background-color: rgb(24, 24, 24);
    border-radius: 4px;
    padding: 20px;
    display: inline;
}

.songUserName {
    display: inline;
}

.statusFeedCard {
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    border: solid antiquewhite 4px;

}

.feedStatusContainer {
    flex-grow: 1;
    text-align: center;
}

.feedStatus {
    flex: 1;
    font-size: 3.5vw;
}

.picFeedCard {
    background-color: rgb(24, 24, 24);
    border: solid 4px aqua;
}

.musicFeedCard {
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    border: solid 4px lightblue;
}

.lyricFeedCard {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border: gold solid 4px;
}

.lyricFeedDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.lyricTitleFeed {
    margin: 0;
    font-weight: 900;
}

.lyricsFeed {
    margin: 0;
}

.musicFeedDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray {
    background-color: gray;
}

.feedSongInfo {
    width: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

}

.songUserName {
    display: inline;
    font-size: 1.3em;
    font-weight: 800;
    padding: 10px;
}

.blackSong {
    color: black;
    display: inline;
    padding: 0;
    margin: 0;
}



.iconDiv {
    position: absolute;
    margin-left: -28px;
    margin-top: 42vh;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 65vw;
}

.trash {
    font-size: 6vw;
    max-width: 50px;
    }
    .trash:hover {
        transition: 1s;
        color: rgb(182, 0, 0);
        transform: scale(115%);
        cursor: pointer;
    }
