
.outerFeedDiv {
    width: 80vw;
    height: fit-content;
    background-color: rgb(69, 40, 0);
    margin: 20px auto 20px auto;
    border: solid goldenrod 1px;
    border-radius: 22px;
    font-family: 'Amatic SC', sans-serif;
}

.postCard {
    border: antiquewhite solid 4px;
    padding: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
    gap: 5px;
}

.feedWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    width: 17%;
    padding: 10px;
}

.starsWrap {
width: 8vw;
background-color: black;
border-radius: 22px;
padding: 10px;


}

.stars {
    color: antiquewhite;
    display: flex;
    width: 95%;
    justify-content: space-around;
    font-size: 2.5vw;
}

.starImg {
    width: 2vw;
    height: 2vw;
    align-self: center;
}

.starImg:hover {
    transition: 1s;
    transform: scale(140%);
    border-radius: 20px;
}

.post {
    color: black;
    font-size: 2em;
    text-align: center;
    flex-shrink: 4;
}

.profilePicFeed {
display: flex;
background-size: cover;
flex-grow: 1;
align-self: stretch;
border-radius: 12px;
}

.postPicInfo {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 0 auto;
    font-size: 1.5em;
}

.songFeedCard {
    background-color: lightblue;
}

.statusFeedCard {
    background-color: goldenrod;

}
.feedStatusContainer {
flex-grow: 1;
text-align: center;
}

.feedStatus {
    flex: 1;
    font-size: 3.5vw;
}

.picFeedCard {
    background-color: gray;
}

.musicFeedCard {
    background-color: royalblue;
}

.lyricFeedCard {
    background-color: wheat;
}

.lyricFeedDiv {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.lyricTitleFeed {
    margin: 0;
    font-weight: 900;
}

.lyricsFeed {
    margin: 0;
}

.musicFeedDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray {
    background-color: gray;
}

.feedSongInfo {
    width: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

}

.songUserName {
    display: inline;
    font-size: 1.3em;
    font-weight: 800;
    padding: 10px;
}

.blackSong {
    color: black;
    display: inline;
    padding: 0;
    margin: 0;
}
