.outerFeedDiv {
    width: 80vw;
    height: fit-content;
    background-color: gray;
    margin: 20px auto 20px auto;
    border: solid goldenrod 1px;
    border-radius: 4px;
    font-family: 'Amatic SC', sans-serif;
}

.titleBox {
    padding: 2px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 14, 13);
    color: goldenrod;
    border-top: solid goldenrod 1px;
    border-bottom: solid 4px teal;
}

.sortByTitle {
    margin: 0;
}

.sortSongs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 1em;
    padding: 4px;
    width: 45%;
}.sortSongs>p {
    color: rgb(222, 4, 222);
    font-size: 1em;
}.sortSongs>p:hover {
    transition: .3s;
    transform: scale(120%);
    color: goldenrod;
    cursor: pointer;
}

.songBox {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.postCard {
    border: antiquewhite solid 4px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    gap: 10px;
    width: 80%;
    height: 250px;
}

.trashAndStars {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}.starsWrap {
    height: 100px;
    width: 100px;
    background-color: black;
    align-self: start;
    border-bottom-left-radius: 4px;
}.starsPicAndDigit {
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
}.starImg {
    width: 25px;
    height: 25px;
    align-self: center;
}.starImg:hover {
    transition: 1s;
    transform: scale(140%);
    border-radius: 20px;
}

.post {
    color: black;
    font-size: 2em;
    text-align: center;
    flex-shrink: 4;
}

.profilePicFeed {
    display: flex;
    background-size: cover;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 12px;
}.postPicInfo {
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin: 0 auto;
    font-size: 1.5em;
}

.songFeedCard {
    background-image: url('../../../public/Assets/musicNotes.jpg');
    background-size: 900px;
    border: black solid 4px;
}.songInfo {
    background-color: rgb(24, 24, 24);
    border-radius: 4px;
    padding: 20px;
    display: inline;
}.songUserName {
    display: inline;
}

.statusFeedCard {
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    border: solid antiquewhite 4px;
}.feedStatusContainer {
    flex-grow: 1;
    text-align: center;
}.feedStatus {
    flex: 1;
    font-size: 3.5vw;
}

.picFeedCard {
    background-color: rgb(24, 24, 24);
    border: solid 4px aqua;
}

.musicFeedCard {
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    border: solid 4px lightblue;
}

.lyricFeedCard {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border: gold solid 4px;
}.lyricFeedDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}.lyricTitleFeed {
    margin: 0;
    font-weight: 900;
}.lyricsFeed {
    margin: 0;
    width: 100%;
    font-size: 18px;
}

.musicFeedDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gray {
    background-color: gray;
}

.feedSongInfo {
    width: fit-content;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;

}

.songUserName {
    display: inline;
    font-size: 1.3em;
    font-weight: 800;
    padding: 10px;
}

.blackSong {
    color: black;
    display: inline;
    padding: 0;
    margin: 0;
}

.trash {
    font-size: 6vw;
    max-width: 50px;
}.trash:hover {
    transition: 1s;
    color: rgb(182, 0, 0);
    transform: scale(115%);
    cursor: pointer;
}

.audioDiv2 {
    color: goldenrod;
    background-color: teal;
    padding: 2vw;
    border-radius: 4px;
}

.thumbnail {
    height: 100px;
    width: 100px;
    align-self: start;
    border-bottom-right-radius: 4px;
}

.thumbnail2 {
    height: 100px;
    width: 100px;
    align-self: start;
    border-bottom-right-radius: 4px;
}