#Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    width: 100%;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8vw;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.profilePicContainer {
    border: double goldenrod 6px;
    border-radius: 20%;
    background-color: black;
    min-width: 80px;
    max-width: 200px;
    min-height: 80px;
    max-height: 200px;
    overflow: hidden;
    margin-left: 25px;
}
.profilePic {
    width: 100%;
    height: 100%;
}

#picInputStatus {
    display: flex;
    align-items: flex-end;
}

.status {
    display: inline;
    margin-left: 0;
}
.statusInput {
    width: 90%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.songs {
    background-color: rgb(181, 109, 1);
    color: rgb(10, 0, 5);
    border-top: 4px solid rgb(75, 0, 36);
    border-bottom: 4px solid rgb(75, 0, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#loginFromProfile {
    margin-top: 250px;
    background-color: black;
    color: antiquewhite;
    border: solid antiquewhite 5px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 100px auto;
    gap: 20px;
}

.thumbnail {
    border: solid silver 2px;
    background-color: goldenrod;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    height: 70%;
}

.thumbnail2 {
    border: solid goldenrod 2px;
    background-color: teal;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    height: 70%;
}

#statusAndInput {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 24px;
}

.labelInline {
    display: inline;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.clickMe {
    cursor: pointer;
}

.smallFormButton {
    background-color: goldenrod;
    padding: 8px;
    color: white;
    border: solid white 2px;
    border-radius: 12px;
    width: 7vw;
}

.smallFormButton:hover {
    color: goldenrod;
    background-color: white;
    border: goldenrod solid 3px;
}