#Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    width: 100%;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8vw;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.profilePicContainer {
    border: double goldenrod 6px;
    border-radius: 20%;
    background-color: black;
    min-width: 80px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin-left: 25px;
}
.profilePic {
    width: 100%;
    height: auto;
}

.moodAndScore {
    color: goldenrod;
    font-size: 125%;
    margin: 0 0 15px 0;
}
#scoreConCon {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
}
.scoreContainer {
    padding: 20px;
    border: goldenrod double 4px;
    border-radius: 12px;
    width: 25vw;
    height: 125px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}
#picInputStatus {
    display: flex;
    align-items: end;
}

.status {
    display: inline;
    margin-left: 0;
}
.statusInput {
    width: 90%;
}

.score {
    margin: 0 0 15px 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

.songs {
    background-color: rgb(181, 109, 1);
    color: rgb(10, 0, 5);
    border-top: 4px solid rgb(75, 0, 36);
    border-bottom: 4px solid rgb(75, 0, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

audio {
    color: goldenrod;
    background-color: rgb(15, 14, 13);
    padding: 20px;
    border-radius: 44px;
    border: goldenrod solid 3px;
    width: 40%;
}

#loginFromProfile {
    margin-top: 250px;
    background-color: black;
    color: antiquewhite;
    border: solid antiquewhite 5px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 100px auto;
    gap: 20px;
}

.thumbnail {
    border: solid silver 2px;
    background-color: goldenrod;
    border-radius: 50%;
    padding: 20px;
    width: 15%;
}

.thumbnail2 {
    border: solid goldenrod 2px;
    background-color: teal;
    border-radius: 50%;
    padding: 20px;
    width: 15%;
}

#statusAndInput {
    display: flex;
    align-items: center;
    gap: 10px;
}