.outerFeedDiv {
    width: 90%;
    height: fit-content;
    background: linear-gradient(to right, gray, lightskyblue, lightpink, gray);
    margin: 20px auto 20px auto;
    border: solid goldenrod 1px;
    border-radius: 4px;
    font-family: 'Amatic SC', sans-serif;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 200px;
}

.titleBox {
    padding: 2px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 14, 13);
    color: rgb(227, 210, 164);
}

.sortByTitle {
    margin: 0 auto;
    background-color: teal;
    color: black;
    padding: 10px;
    text-align: center;
    border-bottom: solid 2px black;
}

.sortSongs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5vw;
    padding: 4px;
    width: 100%;
}

.sortBy {
    font-size: 35px;
    margin: 0;
}

.sortSongs>p {
    color: rgb(185, 81, 185);
    font-size: 20px;
}

.sortSongs>p:hover {
    transition: .3s;
    transform: scale(120%);
    color: goldenrod;
    cursor: pointer;
}

.allPosts {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.postCard {
    border: antiquewhite solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 95%;
    height: 270px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.topPostDiv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: solid gold 2px;
    background-color: rgb(24, 24, 24);
}

.thumbnailDiv {
    display: flex;
    width: 100px;
    height: 100px;
    cursor:pointer;
    justify-content: center;
    align-items: center;
}
.thumbnailDiv:hover + .hiddenUser {
    display: block;
    color: lightpink;
    background-color: rgb(24, 24, 24);
    width: 100px;
    height: 100px;
    padding-top: 35px;
    text-align: center;
    position: absolute;
    float: left;
    font-size: 27px;
}
.hiddenUser {
    display: none;
}

.postTitle {
    font-size: 18px;
    font-weight: 900;
    color: antiquewhite;
    padding: 15px 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.newSongPreTitle {
    color: gold;
    font-size: 16px;
}

.starsWrap {
    height: 100px;
    width: 100px;
    align-self: flex-start;
    border-bottom-left-radius: 4px;
}

.starsPicAndDigit {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.starImg {
    width: 25px;
    height: 25px;
    align-self: center;
}

.starImg:hover {
    transition: 1s;
    transform: scale(140%);
    border-radius: 20px;
    cursor: pointer;
}

.profilePicFeed {
    display: flex;
    background-size: cover;
    flex-grow: 1;
    align-self: stretch;
    border-radius: 12px;
    color: black;
}

.postPicInfo {
    background-color: antiquewhite;
    padding: 20px;
    border: solid black 1px;
    border-radius: 12px;
    align-self: center;
    margin: 0 auto;
    font-size: 1.5em;
    color: black;
}

.songFeedCard {
    background-image: url('../../../public/Assets/musicNotes.jpg');
    background-size: 900px;
    border: gold solid 4px;
}

.collabFeedCard {
    background-image: url('../../../public/Assets/goldBack1.jpeg');
    border: gold dashed 8px;
    background-size: cover;

}

.songInfo {
    background-color: rgb(24, 24, 24);
    border-radius: 4px;
    padding: 20px;
    display: inline;
}

.songUserName {
    display: inline;
}

.statusFeedCard {
    background: linear-gradient(to bottom right, purple, lightskyblue, lightpink);
    color: antiquewhite;
    border: black solid 4px;
}

.feedStatusContainer {
    flex-grow: 1;
    text-align: center;
}

.feedStatus {
    font-size: 4vmax;
    margin: 0;
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 4px;
}

.picFeedCard {
    background-color: rgb(24, 24, 24);
    border: solid 4px black;
}

.musicFeedCard {
    background: linear-gradient(to bottom right, pink, red, pink, rgb(128, 38, 0), orange, pink, rgb(109, 0, 18), lightcoral, red, pink, darkred, brown, orange, yellow,rgb(109, 0, 18), goldenrod, olive, darkgreen);
    color: antiquewhite;
    border: solid 4px lightblue;
}

.musicFeedDiv {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lyricFeedCard {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1em;
    border: black solid 4px;
}

.lyricFeedDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.lyricsFeed {
    text-align: center;
    width: 100%;
    font-size: 17px;
    max-height: 110px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: black;
}


.defaultCard {
    color: black;
}

.songUserName {
    display: inline;
    font-size: 1.3em;
    font-weight: 800;
    padding: 10px;
}

.trash {
    align-self: flex-end;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: antiquewhite;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    border: red solid 3px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash:hover {
    transition: .4s;
    color: rgb(182, 0, 0);
    border: black solid 3px;
    background-color: black;
    transform: scale(115%);
    cursor: pointer;
}

.audioDiv2 {
    color: goldenrod;
    background-color: teal;
    padding: 2vw;
    border-radius: 4px;
}

.thumbnail {
    height: 100px;
    width: 100px;
    align-self: flex-start;
}
.collabButton {
    padding: 10px;
    width: 40%;
    background-color: gold;
    color: black;
    border: none;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.collabButton:hover {
    background-color: lightskyblue;
    background-color: lightskyblue;
    cursor: pointer;
}