#nav {
    width: 100vw;
    height: 120px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    position:fixed;
}

.links:hover {
    transition: .3s;
    transform: scale(125%);
    color: orange;
    cursor: pointer;
}

#outer {
    padding-top: 120px;
    font-family: fantasy;
    background-color: rgb(209, 155, 155);
    color: rgb(48, 5, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}