#nav {
    width: 100vw;
    height: 120px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0;
    position:fixed;
}

#nav .links {
    color: purple;
}

#nav .links:hover {
    transition: .3s;
    transform: scale(125%);
    color: orange;
    cursor: pointer;
}

#nav a.active {
    color: antiquewhite;
    border: antiquewhite solid 1px;
    border-radius: 4px;
    background-color: purple;
    padding: 10px;
  }