.fullSongFeedMainDiv {
    width: 90%;
    height: fit-content;
    background-color: antiquewhite;
    border: solid goldenrod 2px;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 200px;
}

.fullSongFeedDiv {
    background-color: white;
    width: 95%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 10px auto;
    border: solid black 1px;
}

.fullSongFeedTitle {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}
.fullSongFeedLyrics {
    color: black;
    padding: 10px;
}

.fullSongFeedAudio {
    margin-top: 10px;
}