#mainSubmitDiv {
    background-color: rgb(24, 24, 24);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.black {
    color: black;
}

.center {
    text-align: center;
}


.firstPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: gray;
    border: solid goldenrod 2px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 100px;
}

.popupTitle {
    font-size: 37px;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;

}
.radioLabel {
    font-size: 28px;
    color: goldenrod;
    text-decoration: underline;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border: goldenrod solid 2px;
    border-radius: 5px;
}
.radioLabel:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: rgb(24, 24, 24);
    border: rgb(24, 24, 24) solid 2px;
}

.radioBtn {
display: none;
}

.radioBtn:hover {
    cursor: pointer;
}

.submitSongForm {
    border-radius: 5px;
    padding: 5px 35px 25px 35px;
    margin: 0 45px;
    background: linear-gradient(to bottom, goldenrod, orange);
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.submitSongLegend {
    color: rgb(24, 24, 24);
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.submitSongInputs {
    width: 68vw;
    height: 25px;
    border-radius: 4px;
    border: none;
    padding: 5px;
}
.submitSongInputs::placeholder {
    text-align: center;
}

.underSongSubmit {
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 150px;
    overflow: hidden;
}

.scrollingText {
    color: white;
    transform: translateX(100%);
    animation: scroll 100s infinite linear;
}

.golden {
    color: goldenrod;
}

.testingSong {
    width: 100%;
}


@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-20%);
    }
}