#mainSubmitDiv {
    background-color: rgb(24, 24, 24);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.black {
    color: black;
}

.center {
    text-align: center;
}

.firstPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    border: solid goldenrod 2px;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 100px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.popupTitle {
    font-size: 37px;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;

}
.radioLabel {
    font-size: 28px;
    color: goldenrod;
    text-decoration: underline;
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 5px;
}
.radioLabel:hover {
    cursor: pointer;
    border: white solid 2px;
    color: white;
}

.radioBtn {
display: none;
}

.radioBtn:hover {
    cursor: pointer;
}

.submitSongForm {
    max-width: 700px;
    border-radius: 5px;
    padding: 5px 35px 25px 35px;
    margin: 0 45px;
    background-color: black;
    color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: white 2px solid;
}

.submitSongLegend {
    padding: 10px
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.submitSongInputs {
    width: 75%;
    height: 25px;
    border-radius: 4px;
    border: none;
    padding: 5px;
}
.submitSongInputs::placeholder {
    text-align: center;
}

.underSongSubmit {
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 150px;
    overflow: hidden;
}

.testingSong {
    width: 100%;
}



@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.lyricsTextArea {
    border-radius: 4px;
    padding: 10px 0 0 100px;
}