#footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;    
}


#Footer {
    color: goldenrod;
    background-color: black;
    border-top: white 3px solid;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.center {
    text-align: center;
}
