#Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(24, 24, 24);
    color: antiquewhite;
    width: 100%;
    font-family: 'Amatic SC', sans-serif;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8vw;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-bottom: gold 2px solid;

}

.profilePicContainer {
    border: double goldenrod 6px;
    border-radius: 20%;
    overflow: hidden;
    background-color: black;
    width: 150px;
    height: 150px;
}

.profilePic {
    width: 150px;
    height: 150px;
}

.picAndInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

#picInputStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.picInputLabel {
    font-size: 42px;
    color: white;
}

.switchDiv {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
}

.underSwitchDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.setUserCollab {
    background-color: rgba(24, 24, 24, .8);
    padding: 10px;
    border-radius: 4px;
}

.updateBackground {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: lightskyblue;
}

.updateBackground:hover {
    cursor: pointer;
}

.padAndShade {
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(24, 24, 24, .8);
}

#statusAndInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}

.statusInput {
    width: 90%;
}


.row {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

}
  
.profileNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 45px;
    border-bottom: gold 2px solid;
}


.noProfileSongs {
    text-align: center;
    background-color: black;
    padding: 20px;
    margin: 65px 0 130px 0;
    border-radius: 5px;
}

.songs {
    background-color: rgb(181, 109, 1);
    color: rgb(10, 0, 5);
    border-top: 4px solid rgb(75, 0, 36);
    border-bottom: 4px solid rgb(75, 0, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginFromProfile {
    background-color: black;
    color: antiquewhite;
    border: solid goldenrod 3px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 10vh auto 200px auto;
    gap: 20px;
    font-size: 2vmax;
}

.labelInline {
    display: inline;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.formRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.clickMe {
    cursor: pointer;
}

.profileLink {
    color: rgb(185, 81, 185);
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    background-color: #921414;
    border: white solid 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border: solid black 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #01d360;
    border: solid white 1px;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



.profileBottomDiv {
    width: 99vw;
    display: flex;
    justify-content: center;
}


.profileBottomFeedDiv {
    width: 99%;
    display: flex;
}

.profileFeedTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allUserCollabs {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.yourSongs {
    width: 100%;
}