body {
    background-color:rgb(24, 24, 24);
}

.App {
    position: relative;
    min-height: 100vh;
}

#mainWrapper {
    padding-bottom: 2.5rem;
}

.other {
    background-color: white;
}

.spacing {
    height: 120px;
    background-color: rgb(24, 24, 24);
 
}

#outer {
    padding-top: 20px;
    font-family: fantasy;
    background-color: rgb(146, 146, 146);
    color: rgb(48, 5, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

