.songPlayer {
    width: 80vw;
    height: fit-content;
    background-color: rgb(69, 40, 0);
    margin: 20px auto 20px auto;
    border: solid goldenrod 1px;
    border-radius: 22px;
    font-family: 'Amatic SC', sans-serif;
}

.titleBox {
    padding: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(15, 14, 13);
    color: goldenrod;
    border-top: solid goldenrod 1px;
    border-bottom: solid 4px teal;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.sortSongs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 6vw;
    color: white;
    gap: 1em;
    padding: 4px;
    border: solid white 2px;
    border-radius: 22px;
    width: 45%;
}

.sortSongs > p {
    color: rgb(222, 4, 222);
    font-size: 1em;
}

.sortSongs > p:hover {
    transition: .3s;
    transform: scale(120%);
    color: goldenrod;
    cursor: pointer;
}

.songBox {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5px;
}

.songCard {
    background-color: rgb(15, 14, 13);
    padding: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
}

.songInfo {
    color: antiquewhite;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.info {
    margin: 3px;
    color: antiquewhite;
}

.audio2 {
    color: goldenrod;
    background-color: rgb(15, 14, 13);
    padding: 20px;
    border-radius: 44px;
    border: teal solid 3px;
    width: 40%;
}


.profileSongPicContainer {
    width: 20%;
}