#footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;    
    background-color: black;
}


#Footer {
    color: goldenrod;
    border-top: white 3px solid;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.center {
    text-align: center;
}


.tinySun {
    color: lightskyblue;
}