#mainSubmitDiv {
background-color: rgb(24, 24, 24);
color: black;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: 40px;
}

.black {
    color: black;
}
.center {
    text-align: center;
}

.submitSongForm {
    border-radius: 22px;
    padding: 5px 35px 25px 35px;
    margin: 0 45px;
    background-color: goldenrod;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.submitSongLegend {
color: rgb(24, 24, 24);
}

.formBlock {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.submitSongInputs {
    width: 100%;
    height: 25px;
    border-radius: 12px;
    padding: 5px;
}

.underSongSubmit {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.scrollingText {
    color: white;
    transform: translateX(100%);
    animation: scroll 100s infinite linear;
}

.golden {
    color: goldenrod;
}


@keyframes scroll{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-20%);
    }
}