.mainHomeDiv {
background: linear-gradient(to bottom right, rgb(186, 250, 229), rgb(223, 154, 207));
width: 100vw;
height: fit-content;
padding-bottom: 200px;
}

.homeTopImage {
    background-image: url('../../../public/Assets/mozartcolory.png');
    background-size: cover;
    width: 100vw;
    height: 350px;
    padding: 20px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerTextDiv {
    padding: 20px;
    background-color: rgba(24, 24, 24, .8);
    border-radius: 7px;
    width: fit-content;
    max-height: 300px;
}
.firstLine {
    font-size: 27px;
    margin-bottom: 10px;
}

.headerText {
    font-size: 23px;
}

.writeabadsong {
    color: lightskyblue;
    font-family: 'Amatic SC', sans-serif;
    font-size: 4.5vmax;
}
.bad {
    animation: bad 1s linear .5s forwards;
}

.secondDiv {
    width: 100vw;
    height: 170px;
    background-color: rgba(24, 124, 124, .8);
    padding: 20px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.thirdDiv {
    width: 100vw;
    height: 170px;
    background-color: rgba(111, 5, 81, 0.8);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;

}

.linkBtn {
    width: 400px;
}

.signUpLink {
    width: 100%;
    max-width: 350px;
    min-width: 100px;
    align-self: center;
    text-align: center;
}

.signUpBtn {
    height: 38px;
    border: black solid 1px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    font-weight: 800;
}

@keyframes bad {
   
    from {
        color: pink;
        text-decoration: none;
    } 
    to {
        font-size: 55px;
        color: red;
        text-decoration: line-through;
        
    }
}

