body {
    background-color: rgb(24, 24, 24);
    margin: 0;
    max-width: 100vw;
}

.App {
    position: relative;
    min-height: 100vh;
}

#mainWrapper {
    padding-bottom: 2.5rem;
}

.other {
    background-color: white;
}

.spacing {
    height: 120px;
    background-color: rgb(24, 24, 24);

}

#outer {
    padding-top: 20px;
    font-family: fantasy;
    background-color: rgb(146, 146, 146);
    color: rgb(48, 5, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

audio {
    z-index: 0;
}

.formContainer {
    background-color: black;
    color: antiquewhite;
    border: solid goldenrod 3px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
    margin-top: 75px;
    margin-bottom: 150px;
}

legend {
    color: white;
    margin: 0 0 10px 0;
    font-size: 25px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 3px;
    color: wheat;
    text-align: center;
    font-size: 13px;
}

.formInput {
    border-radius: 6px;
    padding: 8px;
    color: rgb(40, 2, 35);
    background-color: antiquewhite;
    margin-bottom: 3px;
    display: inline;
    width: 35vw;
}

.formSubmitButton {
    border-radius: 5px;
    background-color: gold;
    color: rgb(24, 24, 24);
    border: white solid 2px;
    width: 100%;
    height: 45px;
    margin: 15px;
}

.formSubmitButton:hover {
    background-color: black;
    color: white;
    border: goldenrod solid 2px;
}

#nav a.active {
    color: antiquewhite;
    border: antiquewhite solid 1px;
    border-radius: 4px;
    background-color: purple;
    padding: 10px;
}

textarea {
    background-color: white;
    width: 80%;
    height: 250px;
    resize: none;
}

.smallFormButton {
    background-color: goldenrod;
    padding: 8px;
    color: white;
    border: solid white 2px;
    border-radius: 2px;
    width: 100px;
}

.smallFormButton:hover {
    color: goldenrod;
    background-color: white;
    border: goldenrod solid 3px;
}

.username {
    font-size: 150%;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}


.btn {
    border-radius: 4px;
    background-color: gold;
    color: black;
    border: white 1px solid;
    height: 30px;
}

.btn:hover {
    background-color: black;
    border: white 1px solid;
    color: gold;
    cursor: pointer;
}

.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
}
.gap {
    gap: 10px;
}
.flexCtr {
    justify-content: center;
    align-items: center;
}

.padTen {
    padding: 10px;
}

.center {
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0 auto;
}

.lgtxt {
    font-size: 32px;
}


h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


.paper {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1em;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(24, 24, 24, .8);
    position: absolute;
}