.nav {
    width: 100vw;
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position:fixed;
    border-bottom: solid goldenrod 1px;
    font-size: 2vw;
    z-index: 9999;
    transition: height 1s;
}
.notShrunken { 
  transition: height 1s;
  height: 120px
}

.shrunken {
  transition: height 1s;
  height: 70px;
}

.linkList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  margin-right: 10px;
}
.nav .links {
  color: rgb(185, 81, 185);

}

.nav .links:hover {
    transition: .3s;
    transform: scale(125%);
    color: orange;
    cursor: pointer;
}

.nav a.active {
    color: antiquewhite;
    border: antiquewhite solid 1px;
    border-radius: 4px;
    background-color: purple;
    padding: 10px;
  }
  
  .loginBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70px;
    border-radius: 28px;
    font-size: 15px;
    padding: 6px;
    height: 25px;
    margin-right: 7px;
  }

  .loginBox:hover {
    background-color: gray;
    cursor: pointer;
  }

  .endOfNavBar {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
  }

  .shrunkenEndOfNavBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .aboveLogout {
    transition: 1s;
    margin: 0;
    font-size: 15px;
  }

  .shrunkenAboveLogout {
    transition: 1s;
    margin: 0;
    font-size: 0vw;
  }

  .loginAndOutLink {
    color: blue;
    text-decoration: none;
    font-size: 12px;
  }

  .logoContainer {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 100px;
    width: 90px;
    transition: height 1s, width 1s;
  }
  
  .shrunkenLogo {
    height: 40px;
    width: 36px;
    transition: height 1s, width 1s;
  }

  .hamburger {
    flex-grow: 1;
    text-align: center;
    margin-left: 25px;
  }

  .showLinks {
    font-size: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 20px;
    position: absolute;
    top: 0;
    padding-top: 120px;
  }

  .userNameAndNotifications {
    display: flex;
    gap: 5px;
    align-items: center;
  }

