.eachMessage {
    width: 97%;
    height: fit-content;
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 22px;
}

.messageSender {
    font-size: 17px;
}

.messageContent {
    font-size: 15px;
    align-self: center;
}

.nameAndMessage {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
    max-width: 80%;
}

.receivedMessage {
    background-color: rgba(214, 55, 230, .6);
    width: 35%;
    min-width: 40vw;
    align-self: flex-start;
    border-top-left-radius: 0;
    margin-left: 15%;

}
.sentMessage {
    background-color: rgba(24, 124, 155, .6);
    width: 35%;
    min-width: 40vw;
    align-self: flex-end;
    border-bottom-right-radius: 0;
    margin-right:15%;

}